
<html>
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    {% block head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link rel="shortcut icon" href="../assets/img/favicon.png">
    <!-- END META SECTION -->
    <!-- BEGIN MANDATORY STYLE -->
    <link href="assets/css/icons/icons.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/plugins.min.css" rel="stylesheet">
    <link href="assets/css/style.min.css" rel="stylesheet">
    <!-- END  MANDATORY STYLE -->
    <!-- BEGIN PAGE LEVEL STYLE -->
    <link href="assets/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
    <link href="assets/plugins/pickadate/themes/default.css" rel="stylesheet">
    <link href="assets/plugins/pickadate/themes/default.date.css" rel="stylesheet">
    <link href="assets/plugins/pickadate/themes/default.time.css" rel="stylesheet">
    <link href="assets/plugins/daterangepicker/themes/daterangepicker-bs3.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/plugins/datatables/dataTables.css">
    <link rel="stylesheet" href="assets/plugins/datatables/dataTables.tableTools.css">
    <link rel="stylesheet" href="assets/plugins/summernote/summernote.css">
    <link rel="stylesheet" href="assets/plugins/summernote/summernote.css">
    <link rel="stylesheet" href="assets/plugins/fraola-editor/css/froala_edittor.min.css">
    <link rel="stylesheet" href="assets/plugins/fraola-editor/css/froala_editor.pkgd.min.css">
    <link rel="stylesheet" href="assets/plugins/fraola-editor/css/codemirror.min.css">
    <link rel="stylesheet" href="assets/css/myStyle.css">
    <!-- END PAGE LEVEL STYLE -->
    <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
    


	
    {% block content %}

    {% endblock %}

    <!-- BEGIN MANDATORY SCRIPTS -->
    <script src="assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="assets/plugins/jquery-migrate-1.2.1.js"></script>
    <script src="assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/plugins/icheck/icheck.js"></script>
    <script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="assets/plugins/mmenu/js/jquery.mmenu.min.all.js"></script>
    <script src="assets/plugins/nprogress/nprogress.js"></script>
    <script src="assets/plugins/charts-sparkline/sparkline.min.js"></script>
    <script src="assets/plugins/breakpoints/breakpoints.js"></script>

    <script src="assets/js/application.js"></script>
    <script src="assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="assets/plugins/pickadate/picker.js"></script>
    <script src="assets/plugins/pickadate/picker.date.js"></script>
    <script src="assets/plugins/pickadate/picker.time.js"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="assets/plugins/summernote/summernote.min.js"></script>
    <script src="assets/js/form.js"></script>
    <script src="assets/js/jsDevelop/Function.js"></script>

   
</body>
</html>